@mixin guides-section-standard($bgColour) {
      border-top: 1px solid #4d4d4d;
      @if $bgColour {
        background: $bgColour;
      }
      text-align: center;
      padding: $lineHeight 0 $lineHeight * 4;
}

.guides-section {
    @include guides-section-standard($colorGrayBackground);
}

.guides-section2 {
    @include guides-section-standard($colorGrayBackground2);
}

.guides-section3 {
    @include guides-section-standard($colorGrayBackground3);
}